head
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

	link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")

	style !{ htmlWebpackPlugin.options.resetCss }

	style.
		body {
			font-family: 'Lato', sans-serif;
		}

body
	#app

	if !htmlWebpackPlugin.options.hot
		script.
			!{ compilation.assets[htmlWebpackPlugin.options.app].source() }